body {
font-family: Arial, sans-serif;
line-height: 1.6;
margin: 0 auto;
max-width: 800px;
padding: 20px;
background-color: #111;
color: #675;
}

header {
text-align: center;
padding-bottom: 20px;
border-bottom: 2px solid #ccc;
}
nav {
background-color: #333;
}

nav ul.menu {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

nav ul.menu li {
margin: 0;
}

nav ul.menu li a {
display: block;
padding: 14px 20px;
color: white;
text-decoration: none;
}

nav ul.menu li a:hover {
background-color: #555;
}
.post {
background-color: #333;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}

.post h3 {
margin-top: 0;
}

.post-date {
font-style: italic;
color: #666;
font-size: 0.9em;
}

#pagination-container {
text-align: center;
margin-top: 20px;
}

button {
background-color: #333;
color: #fff;
border: none;
padding: 8px 16px;
margin: 0 5px;
cursor: pointer;
border-radius: 4px;
}

button:disabled {
background-color: #ccc;
cursor: not-allowed;
}

button.active {
background-color: #555;
}
	
