#toolbar button.active-toggle {
	border: 2px solid #308386;
	
	
	box-shadow: 0 0 1px 1px #4119af;
}
body { 
	background:#111; 
	color:#eee; 
	font-family:sans-serif; 
	font-size:25px; 
	margin:0; 
}
#toolbar { 
	padding:8px; 
	background:#222; 
	display:flex; 
	flex-wrap:wrap; 
	gap:10px; 
	align-items:center; 
}
#seed { 
	font-weight:bold; 
	margin-left:auto; 
}

.hidden {
	display: none !important;
}

