body {
font-family: Arial, sans-serif;
background: #111;
color: #eee;
display: flex-basis;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
}

.container {
text-align: center;
max-width: 600px;
padding: 20px;
display:block; 
margin:auto; 
cursor:pointer; 
touch-action:none;
}

textarea {
width: 100%;
margin: 10px 0;
padding: 10px;
font-size: 16px;
background: #222;
color: #eee;
border: 1px solid #555;
}

button {
padding: 10px 20px;
font-size: 16px;
background: #444;
color: #eee;
border: none;
cursor: pointer;
}

button:hover {
background: #666;
}

#spellCard {
background: #222;
border: 2px solid #555;
border-radius: 10px;
padding: 20px;
margin-top: 20px;
}

.hidden {
display: none;
}

canvas {
margin-top: 20px;
background: #222;
border: 2px solid #555;

}
nav {
background-color: #333;
}

nav ul.menu {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

nav ul.menu li {
margin: 0;
}

nav ul.menu li a {
display: float;
padding: 14px 20px;
color: white;
text-decoration: none;
}

nav ul.menu li a:hover {
background-color: #555;
}
