body {

font-family: Arial, sans-serif;
line-height: 1.6;
background: #111;
color: #eee;
align-items: left;
text-align: center;
line-height: 1.6;
margin: 0 auto;
background-color: #000000;
color: rgb(81, 95, 68);
}
.page-section {
margin: 2px auto;
padding: 100px;
max-width: 50%;
background-image: url('../media/paper.png');
  background-size: 100%;

}
header {
text-align: center;
padding-bottom: 0px;
border-bottom: 2px solid #ccc;
}

nav {
font-size: 25px;
background-color: #333;
}
nav.rpg {
background-color: #3a3a3a;
}
nav ul.menu {
justify-content: center;
list-style-type: none;
margin: 0;
padding: 10;
display: flex;
}

nav ul.menu li {
margin: 0;
}

nav ul.menu li a {
display: block;
padding: 14px 20px;
color: rgb(226, 225, 225);
text-decoration: none;
}

nav ul.menu li a:hover {
background-color: #555;
}


button {
background-color: #333;
color: #fff;
border: none;
padding: 8px 16px;
margin: 0 5px;
cursor: pointer;
border-radius: 4px;
}

button:disabled {
background-color: #ccc;
cursor: not-allowed;
}

button.active {
background-color: #555;
}

.vertical {
            border-left: 5px double rgb(126, 126, 126);
            height: 50px;
        }


textarea {
width: 25%;
margin: 10px 0;
padding: 10px;
font-size: 16px;
background: #222;
color: #eee;
border: 1px solid #555;
}

button {
padding: 10px 20px;
font-size: 16px;
background: #444;
color: #eee;
border: solid 3px #555;
cursor: pointer;
}

button:hover {
background: #666;
}

#spellCard {
justify-self: center;
background: #222;
border: 2px solid #555;
border-radius: 10px;
padding: 20px;
margin-top: 20px;
}


canvas {
margin-top: 50px;
background: #222;
border: 1px solid #555;

}
